/* Thiết lập kiểu cho container */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  /* Thiết lập kiểu cho tiêu đề */
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  /* Thiết lập kiểu cho form */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Thiết lập kiểu cho label */
  label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Thiết lập kiểu cho input */
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  /* Thiết lập kiểu cho nút đăng nhập */
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Thiết lập kiểu cho liên kết đăng ký */
  p a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  